.button{
  padding: 0 1rem;
  border-radius: .25rem;
  background: white;
  border-color: #d9d9d9;
  color: rgba(0,0,0,0.65);
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 0 rgba(0,0,0,0.045);
  border: 1px solid transparent;
  white-space:nowrap;
  transition: all .5s;
  font-weight: 400;
  span{
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    font-size: 1rem;
  }
}
.button:hover{
  background: white;
  border-color: #40a9ff;
  color: #40a9ff;
  transition: all .5s;
}
.primary{
  padding: 0 1rem;
  border-radius: .25rem;
  background: #1890ff;
  border-color: #1890ff;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 0 rgba(0,0,0,0.045);
  border: 1px solid transparent;
  white-space:nowrap;
  transition: all .5s;
  font-weight: 400;
  span{
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    font-size: 1rem;
  }
}
.primary:hover{
  background: #40a9ff;
  border-color: #40a9ff;
  color: white;
  transition: all .5s;
}
.dashed{
  padding: 0 1rem;
  border-radius: .25rem;
  background: #fff;
  border-color: #d9d9d9;
  color: rgba(0,0,0,0.65);
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 0 rgba(0,0,0,0.045);
  border: 1px dashed transparent;
  white-space:nowrap;
  transition: all .5s;
  font-weight: 400;
  span{
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    font-size: 1rem;
  }
}
.dashed:hover{
  background: white;
  border-color: #40a9ff;
  color: #40a9ff;
  transition: all .5s;
}
.danger{
  padding: 0 1rem;
  border-radius: .25rem;
  background: #ff4d4f;
  border-color: #ff4d4f;
  color: white;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
  box-shadow: 0 2px 0 rgba(0,0,0,0.045);
  border: 1px solid transparent;
  white-space:nowrap;
  transition: all .5s;
  font-weight: 400;
  span{
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    font-size: 1rem;
  }
}
.danger:hover{
  background: #ff7875;
  border-color: #ff7875;
  color: white;
  transition: all .5s;
}
.disabled{
  padding: 0 1rem;
  border-radius: .25rem;
  background: #f5f5f5;
  border-color: #d9d9d9;
  color: rgba(0,0,0,0.25);
  text-align: center;
  text-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  white-space:nowrap;
  transition: all .5s;
  font-weight: 400;
  cursor: default;
  span{
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    font-size: 1rem;
  }
}