button {
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  border: 1px solid transparent;
  white-space: nowrap;
  transition: all .5s;
  font-weight: 400;
  font-size: 1rem;
  padding: 0 1rem;
  border-radius: .25rem;
  outline: none;
  position: relative;
  display: inline-block;
  -webkit-appearance: none;
  appearance: none;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;

  span {
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    font-size: 1rem;
  }
}

.button {
  background: white;
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.65);
}

.button:hover {
  background: white;
  border-color: #40a9ff;
  color: #40a9ff;
  transition: all .5s;
}
.button:focus {
  animation: jelly 0.5s;
}

.primary {
  background: #1890ff;
  border-color: #1890ff;
  color: white;
}

.primary:hover {
  background: #40a9ff;
  border-color: #40a9ff;
  color: white;
  transition: all .5s;
}

@keyframes jelly {
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}