.input{
  height: 1.7rem;
  width: 10rem;
  margin: 0.7rem 0;
  line-height: 1.7rem;
  font-size: 0.9rem;
  padding: 0 0.3rem 0 1.7rem;
  border: 1px solid skyblue;
  border-radius: 0.9rem;
  outline: none;
  transition: all .5s;
}
.input:focus{
  width: 15rem;
  transition: all .5s;
}