.search{
  width: 20rem;
  .input{
    height: 24px;
    width: 10rem;
    line-height: 24px;
    font-size: 12px;
    padding: 0 5px 0 24px;
    border: 1px solid rgba(0, 0, 0, .65);
    border-radius: 12px;
    outline: none;
    transition: all .5s;
  }
  .searchIcon{
    left: 10px;
    line-height: 28px;
    font-size: 14px;
  }
  .clearIcon{
    right: 10px;
    line-height: 28px;
    font-size: 14px;
    cursor: pointer;
  }
  .input:focus{
    width: 15rem;
    transition: all .5s;
  }
  .history{
    width: 17rem;
    min-height: 15rem;
    max-height: calc(100vh - 100px);
    transition: all .5s;
    background: white;
    left: 0;
    top: 50px;
    overflow-y: scroll;
    background: pink;
  }
}