.menuItem{
  display: block;
  padding: .5rem 0 .5rem 2rem;
  font-size: 14px;
  height: 2rem;
  line-height: 2rem;
  cursor: pointer;
  span{
    margin-right: .5rem;
  }
}
.menuItem:hover{
  // color: white;
}