.menuList{
  font-size: 14px;
  border-bottom: 1px solid rgba(22, 31, 44, .8);
  .listTitle{
    padding: 5px 0 5px 20px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    margin: 10px 0 5px 0;
  }
  &:nth-last-of-type(1){
    border-bottom: 0;
    padding-bottom: 1.5rem;
  }
}