.menuItem{
  display: block;
  padding: 5px 0 5px 20px;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  span{
    margin-right: .8rem;
  }
  &:nth-last-of-type(1){
    margin-bottom: 20px;
  }
}