.menuItem{
  display: block;
  padding: 5px 0 5px 20px;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  span{
    margin-right: 5px;
  }
}
.menuClick{
  background: 'skyblue';
  color: '#1890ff';
  border-right: '3px solid #1890ff';
}