.control {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding-top: 12px;
  position: fixed;
  bottom: 0;
  background: rgba(9, 12, 27, .95);
  border-top: 1px solid rgb(35, 42, 56);
  z-index: 10;
  animation: apear 300ms ease-out;

  span {
    cursor: pointer;
  }

  .playInfo {
    float: right;
    width: calc(100% - 220px);
    display: flex;
    align-items: center;
    color: white;

    .musicActions {
      width: 200px;
    }

    .commonStyle {
      margin: 0 10px;
    }

    .collection,
    .share {
      font-size: 20px;
    }

    .voicebar {
      width: 50px;
      height: 1px;
      background: white;
    }
  }
}

@keyframes apear {
  from {
    bottom: -60px;
  }

  to {
    bottom: 0;
  }
}