.home {
  height: calc(100% - 60px);
  position: relative;

  .homePage {
    width: calc(100% - 216px);
    height: 100%;
    overflow: auto;
    margin-left: 216px;
  }

  .homePage::-webkit-scrollbar {
    width: 10px;
    height: 1px;
  }

  .homePage::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
  }

  .homePage::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #ededed;
  }
}