.user {
  display: flex;
  align-items: center;
  padding: 20px;

  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
  }

  .userInfo {
    span {
      display: block;
    }

    .personalCenter {
      border: 1px solid white;
      border-radius: .5rem;
      font-size: 12px;
      color: white;
      padding: 4px 8px;
      margin-top: 5px;
      transform: scale(.8);
      cursor: pointer;
    }

    .userName {
      font-size: 14px;
      color: white;
    }
  }
}