.banner {
  position: relative;
  overflow: hidden;

  .imgList {
    height: 0;
    padding-top: 40%;
    position: relative;

    .img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }

    .zIndex {
      z-index: 1;
    }
  }

  .imgBtnList {
    z-index: 10;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    top: 0;

    .imgBtn {
      border: 1px solid white;
      border-radius: 50%;
      height: 8px;
      width: 8px;
      float: left;
      margin: 5px 0;
      cursor: pointer;
    }
  }

  .LRbutton {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    z-index: 10;

    .leftBtn,
    .rightBtn {
      display: inline-block;
      height: 2rem;
      width: 2rem;
      border-radius: 1rem;
      background: rgba(255, 255, 255, .5);
      z-index: 10;
      cursor: pointer;
      text-align: center;
      line-height: 2rem;
      opacity: 0;
      transition: all .6s;
      margin-left: .8rem;
    }
  }
}

.banner:hover {

  .leftBtn,
  .rightBtn {
    opacity: 1;
    transition: all .6;
  }
}