body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
input,
textarea,
p,
hr,
thead,
tbody,
tfoot,
th,
td {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 50px;
}

body {
  line-height: 1.5;
  font-size: 16px;
}

body,
button,
input,
select,
textarea {
  font-family: 'helvetica neue', tahoma, 'hiragino sans gb', stheiti, 'wenquanyi micro hei', sans-serif;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table th,
table td {
  border: #ddd solid 1px;
  padding: 5px;
}

table th {
  font-weight: inherit;
  border-bottom-width: 2px;
  border-bottom-color: #ccc;
}

img {
  border: none 0;
  width: auto;
  max-width: 100%;
  vertical-align: top;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  box-sizing: content-box;
}

@media screen {
  input {
    line-height: normal !important;
  }
}

select[size],
select[multiple],
select[size][multiple] {
  border: #AAA solid 1px;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video,
progress {
  display: inline-block;
}

@font-face {
  font-family: 'iconfont';
  src: url('assets/icons/iconfont.eot');
  src: url('assets/icons/iconfont.eot?#iefix') format('embedded-opentype'),
    url('assets/icons/iconfont.woff2') format('woff2'),
    url('assets/icons/iconfont.woff') format('woff'),
    url('assets/icons/iconfont.ttf') format('truetype'),
    url('assets/icons/iconfont.svg#iconfont') format('svg');
}

:global {
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .app{
    display: flex;
    justify-content: space-between;
  }
  .sidemenu{
    width: 15rem ;
  }
  .infos{
    flex: 1;
  }
}